{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h1>Réservations</h1>
    <a href="{{ path('app_reservation_new') }}">Ajouter</a>
    <ul>
        {% for reservation in reservations %}
            <li>
                <a href="{{ path('app_reservation_show', {id: reservation.id}) }}">{{ reservation.id }}</a>
                <a href="{{ path('app_reservation_edit', {id: reservation.id}) }}">Modifier</a>
                <form method="post" action="{{ path('app_reservation_delete', {id: reservation.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                    <button>Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
