{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>
    <a href="{{ path('app_utilisateur_new') }}">Créer un utilisateur</a>
    <ul>
        {% for utilisateur in utilisateurs %}
            <li>
                {{ utilisateur.id }} - <a href="{{ path('app_utilisateur_show', {id: utilisateur.id}) }}">Voir</a>
                <a href="{{ path('app_utilisateur_edit', {id: utilisateur.id}) }}">Modifier</a>
                <form method="post" action="{{ path('app_utilisateur_delete', {id: utilisateur.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                    <button>Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
