{% extends 'base.html.twig' %}

{% block title %}Vol ajouté{% endblock %}

{% block body %}
    <h1>Vol ajouté</h1>
    <p>{{ vol.villeDepart }} → {{ vol.villeArrive }} | {{ vol.dateDepart|date('d/m/Y') }} à {{ vol.heureDepart|date('H:i') }} | {{ vol.prixBilletInitiale }}€</p>
{% endblock %}
